body {
    font-family: 'Roboto','sans-serif';
}

/* CLASSI GENERICHE --------- */

.blue {
    background-color: blue;
    height: 100%;
}

.red {
    background-color: transparent;
    height: 50px;
    position: relative;
}

.green {
    background-color: greenyellow;
    height: 150px;
    border: 1px solid #000;
}

.grey {
    height: 150px;
    border: 1px solid #000;
}

.blank {
    height: 150px;
    border: 1px solid #000;
}

.bl {
    color: #031B4E;
}

.wh {
    color: #fff;
}

.gr {
    color: #748099;
}

.light_bl {
    color: #0069FF;
}

.bold {
    font-weight: bold;
}

.txt_cntr {
    text-align: center;
}

.inline_bl {
    display: inline-block;
}

.pos_rel {
    position: relative;
}

.f_size_8 {
    font-size: 8px;
}

.f_size_12 {
    font-size: 12px;
}

.f_size_14 {
    font-size: 14px;
}

.f_size_tabella {
    font-size: 12px;
}

.l_height {
    line-height: 25px;
}

.l_height_22 {
    line-height: 22px;
}

.up_case {
    text-transform: uppercase;
}

.dec_none:hover {
    text-decoration: none;
}

.h_300 {
    height: 300px;
}

.h_30 {
    height: 30px;
    line-height: 30px;
}

.pad_10 {
    padding: 0 10px;
}

.pad_30 {
    padding: 30px 0;
}

.pad_top_30 {
    padding: 30px 0 10px;
}

.pad_bottom_30 {
    padding: 0 0 30px;
}
/* /CLASSI GENERICHE ---------- */



/* NAV BAR -------------------- */
.fixed {
    width: 100vw;
    height: 50px;
    position: fixed;
    z-index: 1;
    background-color: #fff;
}

.menu_left {
    padding: 0 0 0 140px;
}

.menu_right {
    float: right;
}

.menu_left li {
    display: inline-block;
    list-style: none; 
    line-height: 50px;
    padding: 0 7px;
}

.menu_right li {
    display: inline-block;
    list-style: none; 
    line-height: 50px;
    padding: 0 7px;
}


.logo_digitalocean {
    height: 24px;
    vertical-align: middle;
    margin-top: 10px;
}

.sottotitolo {
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
    color: #748099;
}

.hamburger_icon {
    float: right;
    line-height: 50px;
    font-size: 20px;
    color: #0069FF; 
}

.arrow_down {
    margin-left: 3px;
}

#signUp {
    padding: 5px 10px;
    border: 1px solid #0069FF;
    border-radius: 5px;
}


/* JUMBOTRON ------------------ */

.header_top {
    height: 40px;
}

.jumbotron_bg {
    width: 100vw;
    min-height: 360px;
    background-image: url(../img/bg_home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}

.jumbotron_bg::after {
    content: "";
    display: block;
    clear: both;
}

.pad_jumbo {
    padding: 0 10px; 
    margin-top: 60px;
}


/* BOX ACCOUNT */

.account {
    width: 100%;
    min-height: 250px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
}

.account::after {
    content: "";
    display: block;
    clear: both;
}

.create_acc_form ul {
    padding: 0;
}

.create_acc_form ul li {
    border: none;
}

.input_style {
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
    font-size: 10px;
    border: 1px solid #fff; 
    box-shadow: 1px 1px lightgray;
    border-radius: 2px;
}

#registrati {
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
    border: 1px solid #0069FF;
    border-radius: 2px;
    background-color: #0069FF;
    font-size: 10px;
    color: #fff;
}

#registratiGoogle {
    width: 100%;
    height: 25px;
    border: 1px solid #fff; 
    box-shadow: 1px 1px lightgray;
    border-radius: 2px;
    background-color: #fff;
    font-size: 10px;
    color: #000;
}

.google_icon {
    position: absolute;
    left: 5px;
}

form ul li {
    list-style: none;
    border: 1px solid lightgray;
}

.input_style {
    border: none;
}


/* DIV PARTNERS */ 

.partners {
    width: 100vw;   
    min-height: 200px;
    background-color: #F3F5F9;
    padding: 20px 0;
}

.partners::after {
    content: "";
    display: block;
    clear: both;
}

.img_partners {
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* SECTION_1 */

.grey_list {
    padding: 0;
}

.grey_list li {
    list-style: none;
    border-left: 1.5px solid #E5E8ED;
    padding: 10px 0 10px 15px;
}

.grey_list a {
    color: #748099;
    text-decoration: none;
    font-size: 16px;
}

.grey_list li:hover {
    color: #000;
    text-decoration: none;
    border-left: 1.5px solid #0069FF;
}


/* SECTION_2 */

.section_2 {
    width: 100vw;
    min-height: 580px;
    background-color: #F3F5F9;
    padding: 20px 0;
}

.section_2::after {
    content: "";
    display: block;
    clear: both;
}

.schermata_sez_2 {
    width: 100%;
    height: 100%;
    background-image: url(../img/schermate/schermata_sez_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.arrow {
    font-size: 24px;
}

.arrow_left {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.arrow_right {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.pallini {
    height: 20px;
    width: 55px;
    margin: auto;
}

.pallino_blu {
    width: 10px;
    height: 10px;
    background-color: #0069FF;
    border-radius: 100%;
    display: inline-block;
}

.pallino_bianco {
    width: 10px;
    height: 10px;
    border: 1px solid #0069FF;
    border-radius: 100%;
    display: inline-block;
}

/* SECTION_3 */

.section_3 {
    width: 100vw;
    min-height: 350px;
    padding: 20px 0;
}

.features_box p {
    min-height: 6 0px;
}

.features_box::after {
    content: "";
    display: block;
    clear: both;
}

/* SECTION_4 */

.section_4 {
    width: 100vw;
    min-height: 300px;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(39,46,255,1) 0%, rgba(27,29,191,1) 65%);
    /*background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(31,37,217,1) 0%, rgba(2,5,176,1) 65%);*/
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,52,238,1) 0%, rgba(21,24,208,1) 65%);*/
    padding: 20px 0;
}

.section_4::after {
    content: "";
    display: block;
    clear: both;
}

/* TABELLA */

.bord_wh_1 {
    border-bottom: 1px solid lightgray;
}

.bord_wh_2 {
    border-bottom: 1px solid grey;
}

.bord_wh_3 {
    border-bottom: 1px solid #fff;
}

.aqua {
    color: aqua;
}

.fl_right {
    float: right;
}

/* SECTION_5 */

.section_5 {
    width: 100vw;
    min-height: 550px;
    background-color: #F3F5F9;
    padding: 20px 0;
}

.section_5::after {
    content: "";
    display: block;
    clear: both;
}

.schermata_sez_5 {
    width: 100%;
    height: 100%;
    background-image: url(../img..)
    background-size: cover;
    background-repeat: no-repeat;
}

/* SECTION_6 */

.section_6 {
    width: 100vw;
    min-height: 200px;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(39,46,255,1) 0%, rgba(27,29,191,1) 65%);
    /*background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(52,52,235,1) 0%, rgba(2,5,172,1) 65%);*/
    padding: 20px 0;
}

.section_6::after {
    content: "";
    display: block;
    clear: both;
}

.create_acc {
    padding: 10px;
    color: #0069FF;
    background-color: #fff;
    border-radius: 5px;
    margin: auto;
    font-weight: bold;
    font-size: 12px;
}

.pad_bottom_20 {
    padding: 20px 0 15px 0;
}

/* FOOTER ------------------------- */

.box_footer {
    width: 100vw;
    min-height: 450px;
    background-color: #010E28;
    color: #818DA7;
}

.copyright {
    padding: 40px 0;
}

.social {
    float: left;
}

.social li {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}

.link_utili {
    padding: 60px 0 0;
}

.link_utili li {
    width: 120px;
    list-style: none;
    font-size: 12px;
    padding: 5px 0;
}


/* MEDIA QUERY ----------------- */

@media only screen and (max-width: 768px) {
    
    .info_box {
        margin: 15px 0;
    }
    
    .h_300 {
        height: 250px;
    }
    
    .features_box {
        margin: 15px 0;
    }
    
    .f_size_tabella {
        font-size: 10px;
    }
    
    .pad_10 {
        padding: 30px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
    
     .features_box {
        margin: 15px 0;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

}