body {
    font-family: 'Roboto', sans-serif
}

.wrapper {
    max-width: 900px;
    margin: auto;
}


.blue {
    background-color: blue;
    height: 100%;
}

.red {
    background-color: red;
    height: 50px;
    border: 1px solid #000;
}

.green {
    background-color: greenyellow;
    height: 150px;
    border: 1px solid #000;
}

.grey {
    height: 150px;
    border: 1px solid #000;
}

.blank {
    height: 150px;
    border: 1px solid #000;
}

.txt_cntr {
    text-align: center;
}

.inline_bl {
    display: inline-block;
}

.pos_rel {
    position: relative;
}

.menu_left {
    padding: 0 0 0 140px;
}

.menu_right {
    float: right;
}

.menu_left li {
    display: inline-block;
    list-style: none; 
    line-height: 40px;
    padding: 0 8px;
}

.menu_right li {
    display: inline-block;
    list-style: none; 
    line-height: 40px;
    padding: 0 8px;
}


.logo_digitalocean {
    height: 30px;
    vertical-align: middle;
    margin-top: 2px;
}

h1 {
    font-size: 14px;
}

.hamburger_icon {
    float: right;
    line-height: 40px;
    font-size: 25px;
}

/* JUMBOTRON ------------------ */
.header_top {
    height: 40px;
}

.jumbotron_bg {
    width: 100vw;
    min-height: 350px;
    background-color: antiquewhite;
    padding: 20px;
}

.jumbotron_bg::after {
    content: "";
    display: block;
    clear: both;
}

/* BOX ACCOUNT */

.account {
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
}

form ul li {
    list-style: none;
    border: 1px solid lightgrey;
}

.input_style {
    border: none;
}

/* DIV PARTNERS */ 

.partners {
    width: 100vw;   
    min-height: 200px;
    background-color: #F3F5F9;
    padding: 20px;
}

.partners::after {
    content: "";
    display: block;
    clear: both;
}

/* SEZIONE_1 */


/* SEZIONE_2 */

.section_2 {
    width: 100vw;
    min-height: 500px;
    background-color: #F3F5F9;
}

.pitc_1 {
    margin: auto;
    vertical-align: middle;
}

.arrow {
    font-size: 24px;
}

.arrow_left {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
}

.arrow_right {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.h_250 {
    height: 300px;
    border: 1px solid #000;
}