body {
    font-family: 'Roboto', sans-serif
}

.wrapper {
    max-width: 900px;
    margin: auto;
}


.blue {
    background-color: blue;
    height: 100%;
}

.red {
    background-color: red;
    height: 50px;
    border: 1px solid #000;
}

.green {
    background-color: greenyellow;
    height: 150px;
    border: 1px solid #000;
}

.grey {
    height: 150px;
    border: 1px solid #000;
}

.blank {
    height: 150px;
    border: 1px solid #000;
}

.bl {
    color: #031B4E;
}

.wh {
    color: #fff;
}

.gr {
    color: gray;
}

.light_bl {
    color: #0069FF;
}

.bold {
    font-weight: bold;
}

.txt_cntr {
    text-align: center;
}

.inline_bl {
    display: inline-block;
}

.pos_rel {
    position: relative;
}

.menu_left {
    padding: 0 0 0 140px;
}

.menu_right {
    float: right;
}

.menu_left li {
    display: inline-block;
    list-style: none; 
    line-height: 40px;
    padding: 0 8px;
}

.menu_right li {
    display: inline-block;
    list-style: none; 
    line-height: 40px;
    padding: 0 8px;
}


.logo_digitalocean {
    height: 30px;
    vertical-align: middle;
    margin-top: 2px;
}

h1 {
    font-size: 14px;
}

.hamburger_icon {
    float: right;
    line-height: 40px;
    font-size: 25px;
}

/* JUMBOTRON ------------------ */
.header_top {
    height: 40px;
}

.jumbotron_bg {
    width: 100vw;
    min-height: 350px;
    background-color: dodgerblue;
    padding: 20px;
}

.jumbotron_bg::after {
    content: "";
    display: block;
    clear: both;
}

/* BOX ACCOUNT */

.account {
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
}

.create_acc_form ul {
    padding: 0;
}

form ul li {
    list-style: none;
    border: 1px solid lightgrey;
}

.input_style {
    border: none;
}

/* DIV PARTNERS */ 

.partners {
    width: 100vw;   
    min-height: 200px;
    background-color: #F3F5F9;
    padding: 20px 0;
}

.partners::after {
    content: "";
    display: block;
    clear: both;
}

/* SECTION_1 */


/* SECTION_2 */

.section_2 {
    width: 100vw;
    min-height: 500px;
    background-color: #F3F5F9;
    padding: 20px 0;
}

.section_2::after {
    content: "";
    display: block;
    clear: both;
}

.pitc_1 {
    margin: auto;
    vertical-align: middle;
}

.arrow {
    font-size: 24px;
}

.arrow_left {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
}

.arrow_right {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.h_300 {
    height: 300px;
    border: 1px solid #000;
}

.h_25 {
    height: 25px;
}

.pallini {
    height: 20px;
    width: 55px;
    margin: auto;
}

.pallino_blu {
    width: 10px;
    height: 10px;
    background-color: #0069FF;
    border-radius: 100%;
    display: inline-block;
}

.pallino_bianco {
    width: 10px;
    height: 10px;
    border: 1px solid #0069FF;
    border-radius: 100%;
    display: inline-block;
}

/* SECTION_3 */

.section_3 {
    width: 100vw;
    min-height: 250px;
    padding: 20px 0;
}

/* SECTION_4 */

.section_4 {
    width: 100vw;
    min-height: 300px;
    background-color: darkblue;
    padding: 20px 0;
}

/* TABELLA */

.bord_wh_1 {
    border-bottom: 1px solid lightgray;
}

.bord_wh_2 {
    border-bottom: 1px solid grey;
}

.bord_wh_3 {
    border-bottom: 1px solid #fff;
}

.pad_10 {
    padding: 0 10px;
}

/* SECTION_5 */

.section_5 {
    width: 100vw;
    min-height: 500px;
    background-color: #F3F5F9;
    padding: 20px 0;
}

.section_5::after {
    content: "";
    display: block;
    clear: both;
}

/* SECTION_6 */

.section_6 {
    width: 100vw;
    min-height: 200px;
    background-color: darkblue;
    padding: 20px 0;
}

.section_6::after {
    content: "";
    display: block;
    clear: both;
}

.create_acc {
    padding: 10px;
    color: #0069FF;
    background-color: #fff;
    border-radius: 5px;
    margin: auto;
    font-weight: bold;
}

/* FOOTER ------------------------- */

.box_footer {
    width: 100vw;
    min-height: 450px;
    background-color: #010E28;
    color: #818DA7;
}

.copyright {
    padding: 40px 0;
}

.social {
    float: left;
}

.social li {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}

.link_utili {
    padding: 60px 0 0;
}

.link_utili li {
    width: 120px;
    list-style: none;
    font-size: 12px;
    padding: 5px 0;
}